﻿<div class="folder">
    <div class="folder__list">
        @foreach (var fileInfoModel in FolderInfoModel.FileInfoList.Values.Where(e => e.FileState != FileState.Unmodified))
        {
            <FileContainer FileInfoModel="fileInfoModel" FullName="@(FolderPath + fileInfoModel.Name)"/>
        }
        @foreach (var subfolder in FolderInfoModel.Subfolders.Values)
        {
            <FolderContainer FolderInfoModel="@subfolder" FolderPath="@(FolderInfoModel.Name + Path.DirectorySeparatorChar + FolderPath)"/>
        }
    </div>
</div>