.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
