﻿@page "/"

<PageTitle>Folder change detector</PageTitle>

<div class="landing-page">
    
    <h1>Folder change detector</h1>
    
    <div class="landing-page__controls">
        <EditForm Model="FolderPath" OnSubmit="@OnClickAnalyzeDirectory" FormName="LandingPageForm" class="landing-page-form">
            <label class="landing-page-form__label">
                Folder path:
                <InputText @bind-Value="FolderPath" class="landing-page-form__input"/>
            </label>
            <button type="submit" class="btn btn-primary">Analyze</button>
        </EditForm>
    </div>

    @if (!_pathHasCorrectFormat)
    {
        <h4>Path entered is not in the correct format or not exist.</h4>
    }

    @if (_folderInfoModel != null)
    {
        <FolderContainer FolderInfoModel="_folderInfoModel"/>
    }
</div>