﻿.landing-page {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 10px;
}

.landing-page__controls {
  display: flex;
  padding-bottom: 10px;
  align-items: center;
  gap: 10px;
}

.landing-page-form__label {
  width: 100%;
}

::deep .landing-page-form {
  display: flex;
  width: 100%;
  gap: 10px;
}

::deep .landing-page-form__input {
  width: 100%;
}